@font-face {
  font-family: 'Aclonica-Regular';
  src: local('Aclonica-Regular'), url(fonts/Aclonica/Aclonica-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Akshar-Bold';
  src: local('Akshar-Bold'), url(fonts/Akshar/Akshar-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Akshar-Light';
  src: local('Akshar-Light'), url(fonts/Akshar/Akshar-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Akshar-Regular';
  src: local('Akshar-Regular'), url(fonts/Akshar/Akshar-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Aleo-Bold';
  src: local('Aleo-Bold'), url(fonts/Aleo/Aleo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo-BoldItalic';
  src: local('Aleo-BoldItalic'), url(fonts/Aleo/Aleo-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo-Italic';
  src: local('Aleo-Italic'), url(fonts/Aleo/Aleo-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo-Light';
  src: local('Aleo-Light'), url(fonts/Aleo/Aleo-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo-LightItalic';
  src: local('Aleo-LightItalic'), url(fonts/Aleo/Aleo-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo-Regular';
  src: local('Aleo-Regular'), url(fonts/Aleo/Aleo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'AnekBangla-Bold';
  src: local('AnekBangla-Bold'), url(fonts/Anek_Bangla/AnekBangla-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'AnekBangla-Regular';
  src: local('AnekBangla-Regular'), url(fonts/Anek_Bangla/AnekBangla-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'AnekBangla-Thin';
  src: local('AnekBangla-Thin'), url(fonts/Anek_Bangla/AnekBangla-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Anton-Regular';
  src: local('Anton-Regular'), url(fonts/Anton/Anton-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo-Bold';
  src: local('Arvo-Bold'), url(fonts/Arvo/Arvo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo-BoldItalic';
  src: local('Arvo-BoldItalic'), url(fonts/Arvo/Arvo-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo-Italic';
  src: local('Arvo-Italic'), url(fonts/Arvo/Arvo-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo-Regular';
  src: local('Arvo-Regular'), url(fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Audiowide-Regular';
  src: local('Audiowide-Regular'), url(fonts/Audiowide/Audiowide-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BeauRivage-Regular';
  src: local('BeauRivage-Regular'), url(fonts/Beau_Rivage/BeauRivage-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: local('BebasNeue-Regular'), url(fonts/Bebas_Neue/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: local('BlackOpsOne-Regular'), url(fonts/Black_Ops_One/BlackOpsOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CinzelDecorative-Black';
  src: local('CinzelDecorative-Black'), url(fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'CinzelDecorative-Bold';
  src: local('CinzelDecorative-Bold'), url(fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'CinzelDecorative-Regular';
  src: local('CinzelDecorative-Bold'), url(fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Comfortaa-Bold';
  src: local('Comfortaa-Bold'), url(fonts/Comfortaa/Comfortaa-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa-Light';
  src: local('Comfortaa-Light'), url(fonts/Comfortaa/Comfortaa-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSans-Bold';
  src: local('DMSans-Bold'), url(fonts/DM_Sans/DMSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Italic';
  src: local('DMSans-Italic'), url(fonts/DM_Sans/DMSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSans-Regular';
  src: local('DMSans-Regular'), url(fonts/DM_Sans/DMSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSerifText-Italic';
  src: local('DMSerifText-Italic'), url(fonts/DM_Serif_Text/DMSerifText-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'DMSerifText-Regular';
  src: local('DMSerifText-Regular'), url(fonts/DM_Serif_Text/DMSerifText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Fondamento-Italic';
  src: local('Fondamento-Italic'), url(fonts/Fondamento/Fondamento-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Fondamento-Regular';
  src: local('Fondamento-Regular'), url(fonts/Fondamento/Fondamento-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'FredokaOne-Regular';
  src: local('FredokaOne-Regular'), url(fonts/Fredoka_One/FredokaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Glegoo-Bold';
  src: local('Glegoo-Bold'), url(fonts/Glegoo/Glegoo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Glegoo-Regular';
  src: local('Glegoo-Regular'), url(fonts/Glegoo/Glegoo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'GreatVibes-Regular';
  src: local('GreatVibes-Regular'), url(fonts/Great_Vibes/GreatVibes-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gugi-Regular';
  src: local('Gugi-Regular'), url(fonts/Gugi/Gugi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gurajada-Regular';
  src: local('Gurajada-Regular'), url(fonts/Gurajada/Gurajada-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Hurricane-Regular';
  src: local('Hurricane-Regular'), url(fonts/Hurricane/Hurricane-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-Bold';
  src: local('Kanit-Bold'), url(fonts/Kanit/Kanit-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-BoldItalic';
  src: local('Kanit-BoldItalic'), url(fonts/Kanit/Kanit-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-Italic';
  src: local('Kanit-Italic'), url(fonts/Kanit/Kanit-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-Regular';
  src: local('Kanit-Regular'), url(fonts/Kanit/Kanit-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-Thin';
  src: local('Kanit-Thin'), url(fonts/Kanit/Kanit-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit-ThinItalic';
  src: local('Kanit-ThinItalic'), url(fonts/Kanit/Kanit-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'KeaniaOne-Regular';
  src: local('KeaniaOne-Regular'), url(fonts/Keania_One/KeaniaOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: local('LibreBaskerville-Bold'), url(fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: local('LibreBaskerville-Italic'), url(fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: local('LibreBaskerville-Regular'), url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster-Regular';
  src: local('Lobster-Regular'), url(fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora-Bold';
  src: local('Lora-Bold'), url(fonts/Lora/Lora-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora-Italic';
  src: local('Lora-Italic'), url(fonts/Lora/Lora-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora-Regular';
  src: local('Lora-Regular'), url(fonts/Lora/Lora-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'MarkoOne-Regular';
  src: local('MarkoOne-Regular'), url(fonts/Marko_One/MarkoOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather-Bold';
  src: local('Merriweather-Bold'), url(fonts/Merriweather/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather-Italic';
  src: local('Merriweather-Italic'), url(fonts/Merriweather/Merriweather-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton-Regular';
  src: local('Monoton-Regular'), url(fonts/Monoton/Monoton-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: local('Montserrat-BoldItalic'), url(fonts/Montserrat/Montserrat-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Italic';
  src: local('Montserrat-Italic'), url(fonts/Montserrat/Montserrat-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: local('Montserrat-Thin'), url(fonts/Montserrat/Montserrat-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: local('Montserrat-ThinItalic'), url(fonts/Montserrat/Montserrat-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-Bold';
  src: local('MontserratAlternates-Bold'), url(fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-BoldItalic';
  src: local('MontserratAlternates-BoldItalic'), url(fonts/Montserrat_Alternates/MontserratAlternates-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-Italic';
  src: local('MontserratAlternates-Italic'), url(fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-Regular';
  src: local('MontserratAlternates-Regular'), url(fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-Thin';
  src: local('MontserratAlternates-Thin'), url(fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'MontserratAlternates-ThinItalic';
  src: local('MontserratAlternates-ThinItalic'), url(fonts/Montserrat_Alternates/MontserratAlternates-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'MouseMemoirs-Regular';
  src: local('MouseMemoirs-Regular'), url(fonts/Mouse_Memoirs/MouseMemoirs-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Notable-Regular';
  src: local('Notable-Regular'), url(fonts/Notable/Notable-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url(fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: local('OpenSans-BoldItalic'), url(fonts/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Italic';
  src: local('OpenSans-Italic'), url(fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'), url(fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: local('OpenSans-LightItalic'), url(fonts/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: local('OpenSans-Regular'), url(fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron-Bold';
  src: local('Orbitron-Bold'), url(fonts/Orbitron/Orbitron-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron-Regular';
  src: local('Orbitron-Regular'), url(fonts/Orbitron/Orbitron-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald-Bold';
  src: local('Oswald-Bold'), url(fonts/Oswald/Oswald-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald-Light';
  src: local('Oswald-Light'), url(fonts/Oswald/Oswald-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald-Regular';
  src: local('Oswald-Regular'), url(fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico-Regular';
  src: local('Pacifico-Regular'), url(fonts/Pacifico/Pacifico-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PermanentMarker-Regular';
  src: local('PermanentMarker-Regular'), url(fonts/Permanent_Marker/PermanentMarker-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: local('PlayfairDisplay-Bold'), url(fonts/Playfair_Display/PlayfairDisplay-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: local('PlayfairDisplay-BoldItalic'), url(fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: local('PlayfairDisplay-Italic'), url(fonts/Playfair_Display/PlayfairDisplay-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: local('PlayfairDisplay-Regular'), url(fonts/Playfair_Display/PlayfairDisplay-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'PoiretOne-Regular';
  src: local('PoiretOne-Regular'), url(fonts/Poiret_One/PoiretOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-BoldItalic';
  src: local('Poppins-BoldItalic'), url(fonts/Poppins/Poppins-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Italic';
  src: local('Poppins-Italic'), url(fonts/Poppins/Poppins-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Thin';
  src: local('Poppins-Thin'), url(fonts/Poppins/Poppins-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-ThinItalic';
  src: local('Poppins-ThinItalic'), url(fonts/Poppins/Poppins-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Quantico-Bold';
  src: local('Quantico-Bold'), url(fonts/Quantico/Quantico-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Quantico-Italic';
  src: local('Quantico-Italic'), url(fonts/Quantico/Quantico-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Quantico-Regular';
  src: local('Quantico-Regular'), url(fonts/Quantico/Quantico-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: local('Quicksand-Bold'), url(fonts/Quicksand/Quicksand-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand-Light';
  src: local('Quicksand-Light'), url(fonts/Quicksand/Quicksand-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: local('Quicksand-Regular'), url(fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Bold';
  src: local('Rajdhani-Bold'), url(fonts/Rajdhani/Rajdhani-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Light';
  src: local('Rajdhani-Light'), url(fonts/Rajdhani/Rajdhani-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Rajdhani-Regular';
  src: local('Rajdhani-Regular'), url(fonts/Rajdhani/Rajdhani-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(fonts/Raleway/Raleway-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: local('Raleway-BoldItalic'), url(fonts/Raleway/Raleway-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Italic';
  src: local('Raleway-Italic'), url(fonts/Raleway/Raleway-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: local('Raleway-Thin'), url(fonts/Raleway/Raleway-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: local('Raleway-ThinItalic'), url(fonts/Raleway/Raleway-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous-Regular';
  src: local('Righteous-Regular'), url(fonts/Righteous/Righteous-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local('Roboto-BoldItalic'), url(fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto-Italic'), url(fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto-Thin'), url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-ThinItalic';
  src: local('Roboto-ThinItalic'), url(fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: local('RobotoSlab-Bold'), url(fonts/Roboto_Slab/RobotoSlab-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Light';
  src: local('RobotoSlab-Light'), url(fonts/Roboto_Slab/RobotoSlab-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: local('RobotoSlab-Regular'), url(fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RobotoSlab-Thin';
  src: local('RobotoSlab-Thin'), url(fonts/Roboto_Slab/RobotoSlab-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'RozhaOne-Regular';
  src: local('RozhaOne-Regular'), url(fonts/Rozha_One/RozhaOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'RussoOne-Regular';
  src: local('RussoOne-Regular'), url(fonts/Russo_One/RussoOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Rye-Regular';
  src: local('Rye-Regular'), url(fonts/Rye/Rye-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Sacramento-Regular';
  src: local('Sacramento-Regular'), url(fonts/Sacramento/Sacramento-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SquarePeg-Regular';
  src: local('SquarePeg-Regular'), url(fonts/Square_Peg/SquarePeg-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate-Bold';
  src: local('Syncopate-Bold'), url(fonts/Syncopate/Syncopate-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate-Regular';
  src: local('Syncopate-Regular'), url(fonts/Syncopate/Syncopate-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine-Bold';
  src: local('Tangerine-Bold'), url(fonts/Tangerine/Tangerine-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine-Regular';
  src: local('Tangerine-Regular'), url(fonts/Tangerine/Tangerine-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'TitanOne-Regular';
  src: local('TitanOne-Regular'), url(fonts/Titan_One/TitanOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: local('Ubuntu-Bold'), url(fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: local('Ubuntu-BoldItalic'), url(fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Italic';
  src: local('Ubuntu-Italic'), url(fonts/Ubuntu/Ubuntu-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu-Regular';
  src: local('Ubuntu-Regular'), url(fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ultra-Regular';
  src: local('Ultra-Regular'), url(fonts/Ultra/Ultra-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Updock-Regular';
  src: local('Updock-Regular'), url(fonts/Updock/Updock-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'VollkornSC-Bold';
  src: local('VollkornSC-Bold'), url(fonts/Vollkorn_SC/VollkornSC-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'VollkornSC-Regular';
  src: local('VollkornSC-Regular'), url(fonts/Vollkorn_SC/VollkornSC-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Whisper-Regular';
  src: local('Whisper-Regular'), url(fonts/Whisper/Whisper-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'YanoneKaffeesatz-Bold';
  src: local('YanoneKaffeesatz-Bold'), url(fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'YanoneKaffeesatz-Light';
  src: local('YanoneKaffeesatz-Light'), url(fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'YanoneKaffeesatz-Regular';
  src: local('YanoneKaffeesatz-Regular'), url(fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf) format('truetype');
}
